/* 
// General Override
//
// This is a code to override the basic CSS element.
//  
*/

html{

}

a{
	color: $body-color;
}

body{
	font-family: 'Raleway', sans-serif;
	// background-color: $black;
	// color: $body-color;
}

section{
	margin-top: 2em;
}

.container-95{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	@media only screen and (max-width: map-get($grid-breakpoints, sm)) {
		margin: 0 15px;
		width: auto;
	}
}