/* 
// Header CSS - Mario
//
// Start of Header CSS
//  
*/



#banner{
	height: calc(100vh - 55px);
	background-color: #8CA2A2;
	position: relative;

}

nav{
	height: 55px;
	h1.nav-title{
		font-family: 'Poppins', sans-serif;
		text-transform: uppercase;
		font-size: 	1rem;
		margin-bottom: 0;
	}
	img{
		height: 100px;
	}
	a{
		color: $gray-100;
	}
}

ul.navbar-nav{
	color: $gray-100;
	li{
		margin-left: 2em;
	}
}

svg#main-logo{
	// position: absolute;
	display: inline-block;
	// top:50%;
	// left:50%;
	// transform:translate(-50%,-50%);
	// animation-name: logo-move;
	animation-duration: 0.8s;
	animation-timing-function: ease-in;
	animation-delay: 3s;
	animation-iteration-count: 1;
	// animation-direction:
	animation-fill-mode: forwards;
	// animation-play-state:
	
}

header{
	h1.logo-title{
		font-family: 'Poppins', sans-serif;
		text-transform: uppercase;
		// position: absolute;
		// top:50%;
		// left:40%;
		// transform:translate(-50%,-50%);
		// animation-name: title-move;
		animation-duration: 0.8s;
		animation-timing-function: ease-in;
		animation-delay: 3s;
		animation-iteration-count: 1;
		// animation-direction:
		animation-fill-mode: forwards;
		// opacity: 0;
		// animation-play-state:
		clip:rect(0px,284px,47px,284px);
		display:inline-block;
		margin: 0;
		height: 100%;
		vertical-align: middle;
		margin-top: 17%;
	}
}

.wrap-center{
	position: relative;
	.col-md-6{
		padding: 0;
	}
}


@keyframes logo-move {
    0%   {left: 50%;}
    // 25%  {left: 46%;}
    // 50%  {left: 100px;}
    // 75%  {left: 38%;}
    100% {left: 40%;}
}

@keyframes title-move {
    0%   {left: 40%; opacity:0; clip:rect(0px,284px,47px,284px);}
    // 25%  {left: 46%;}
    // 50%  {left: 100px;}
    // 75%  {left: 38%;}
    100% {left: 55%; opacity:1; clip:rect(0px,284px,47px,0px);}
}
