/* 
// Header CSS - Mario
//
// Start of Header CSS
//  
*/



#banner{
	height: calc(100vh - 55px);
	background-color: #8CA2A2;
	position: relative;

}

nav{
	height: 55px;
	h1.nav-title{
		font-family: 'Poppins', sans-serif;
		text-transform: uppercase;
		font-size: 	1rem;
		margin-bottom: 0;
	}
	img{
		height: 100px;
	}
	a{
		color: $gray-100;
	}
}

ul.navbar-nav{
	color: $gray-100;
	font-size: $font-size-sm;
	li{
		margin-left: 2em;
	}
}

svg#main-logo{
	// position: absolute;
	display: inline-block;
	// top:50%;
	// left:50%;
	// transform:translate(-50%,-50%);
	animation-name: logo-move-side;
	animation-duration: 0.8s;
	animation-timing-function: ease-in;
	animation-delay: 3s;
	animation-iteration-count: 1;
	// animation-direction:
	animation-fill-mode: forwards;
	// animation-play-state:
	@media only screen and (max-width: 768px) {
		animation-name: logo-move-up;
		margin-top: 2em;
	}
	
}

header{
	h1.logo-title{
		font-family: 'Poppins', sans-serif;
		text-transform: uppercase;
		// position: absolute;
		// top:50%;
		// left:40%;
		// transform:translate(-50%,-50%);
		animation-name: title-move-side;
		animation-duration: 0.8s;
		animation-timing-function: ease-in;
		animation-delay: 3s;
		animation-iteration-count: 1;
		// animation-direction:
		animation-fill-mode: forwards;
		opacity: 0;
		// animation-play-state:
		clip:rect(0px,284px,47px,284px);
		display:inline-block;
		margin: 0;
		height: 100%;
		vertical-align: middle;
		margin-top: 17%;
		@media only screen and (max-width: 768px) {
			text-align: center;
			animation-name: title-move-up;
		}
	}
}

.wrap-center{
	position: relative;
	width: 400px;
	height: 226px;
	.col-md-6{
		padding: 0;
	}
}

.row{
	@media only screen and (min-width: 768px) {
		.col-title-logo{
			width: 42%;
			position: absolute;
			left:130px;	
		}	
		.col-title-text{
			width: 70%;
			position: absolute;
			right:-22px;	
		}
	}
}


@keyframes logo-move-up {
    0%   {margin-top: 2em;}
    // 25%  {left: 46%;}
    // 50%  {left: 100px;}
    // 75%  {left: 38%;}
    100% {margin-top: 0em;}
}

@keyframes logo-move-side {
    0%   {left: 130px;}
    // 25%  {left: 46%;}
    // 50%  {left: 100px;}
    // 75%  {left: 38%;}
    100% {left: 0;}
}

@keyframes title-move-side {
    0%   {right: 22px; opacity:0; clip:rect(0px,284px,47px,284px);}
    // 25%  {left: 46%;}
    // 50%  {left: 100px;}
    // 75%  {left: 38%;}
    100% {right: -22px; opacity:1; clip:rect(0px,300px,47px,0px);}
}

@keyframes title-move-up {
    0%   {margin-top: -1.5em;; opacity:0; clip:rect(0px,284px,47px,284px);}
    // 25%  {left: 46%;}
    // 50%  {left: 100px;}
    // 75%  {left: 38%;}
    100% {margin-top: 0.5em;; opacity:1; clip:rect(0px,300px,47px,0px);}
}
