/* 
// Problem CSS - Mario
//
// Start of Problem section CSS
//  
*/

#problem{
	background-color: #8CA2A2;
	padding: 2em 0 3em 0;
	color: #fff;
	h1{
		text-align:center;
	}
}

.cmp-image{
	text-align: center;
}

.story-image-container, .story-text-container{
	margin-top: 2em;
}

#insect{
	text-align:center;
}