$font-primary: 'Quicksand', Arial, sans-serif;

// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #FFC300 !default;
$brand-footer: #2C2C2C !default;



$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #e8e8e8;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;



// Mixin
@mixin translateX($translatex) {
	-moz-transform: translateX($translatex);
	-webkit-transform: translateX($translatex);
	-ms-transform: translateX($translatex);
	-o-transform: translateX($translatex);
	transform: translateX($translatex);
}
@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin flex() {
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex;             
}
@mixin flexwrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	-moz-flex-wrap: wrap; 
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?srf3rx');
	src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icomoon() {
	
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

// PROJECT
.project{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height: 300px;
	width: 100%;
	display: block;
	margin-bottom: 30px;
	.desc{
		position: absolute;
		top: 10px;
		bottom: 10px;
		left: 10px;
		right: 10px;
		background: rgba(0,0,0,.8);
		opacity: 0;
		@include transition(.3s);
		.con{
			padding: 20px;
			display: block;
			position: relative;
			height: 300px;
			.icon{
				position: absolute;
				bottom: 20px;
				left: 20px;
				right: 20px;
				span{
					display: inline;
					padding-right: 5px;
					a{
						color: lighten($brand-black,80%);
						padding: 5px;
						background: lighten($brand-black,20%);
						@include border-radius(4px);
					}
				}
				i{
					font-size: 16px;
					color: lighten($brand-black,80%);
				}
			}
		}
		h3{
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 1px;
			-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
			-webkit-transform: translate3d(0, -15px, 0);
			transform: translate3d(0, -15px, 0);
			margin-bottom: 15px;
			a{
				color: $brand-white;
			}
		}
		span{
			display: block;
			color: lighten($brand-black,60%);
			font-size: 13px;
			-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
			-webkit-transform: translate3d(0, 15px, 0);
			transform: translate3d(0, 15px, 0);
			a{
				color: $brand-black;
			}
		}
		@media screen and(max-width: map-get($grid-breakpoints, sm)){
			opacity: 1;
			background: rgba(0,0,0,.4);
			h3{
				font-style: 28px;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
				color: $brand-black;
			}
			span{
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
		}
	}
	&:hover{
		.desc{
			opacity: 1;
			h3{
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			span{
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
		}
	}
}
.project-desc{
	h2{
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 15px;
	}
	span{
		display: block;
		color: lighten($brand-black,40%);
		font-size: 13px;
		margin-bottom: 15px;
		a{
			color: lighten($brand-black,40%);
		}
	}
	.icon{
		span{
			display: inline;
			padding-right: 5px;
		}
	}
	.btn-download{
		font-size: 13px;
		text-transform: uppercase;
		font-weight: 400;
		text-decoration: underline;
	}
}

// Custom Design

#research{
	h3{
		margin-bottom: 2em;
	}
}

