/* MICHIKA CODE*/
footer{
    .partner{
        text-align: center;
            img{
                max-width: 30%;
                height: auto;
            }
    }
    .copyright{
        text-align: center;
    }
    
}