/* MICHIKA CODE*/
#social {
    h2 {
        text-align: center;
    }

    .instagram 
        img {
            margin-bottom: 5%;
        }
    
    .contact
        textarea {
            min-height: 100%;
            // line-height: 100px;
        }
}