/* MICHIKA CODE*/
#social {
    h3 {
        margin-bottom: 5%;
    }

    .instagram 
        img {
            margin-bottom: 5%;
        }
    
    .contact
        textarea {
            min-height: 100%;
            // line-height: 100px;
        }
}