/* MICHIKA CODE*/
#ted{
    iframe{
        margin-bottom: 1em;
        min-height: 315px !important;
        // width: 50%;
        width: 100%;
        padding: 0;
        @media screen and (max-width: map-get($grid-breakpoints, md)) {
        	width: 100%;
        }
        
        
    }
}

.video-container{
	display: flex;
	@media screen and (max-width: map-get($grid-breakpoints, md)) {
        flex-direction: column;
    }

}


