#thankspage{
    text-align: center;

    h2 {
        font-size: 3rem;
    }

    img {
        max-width: 220px;
        height:auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    a.gobackhome {
        color: #249384;
        text-decoration: underline;
    }
}